
@font-face {
  font-family: 'Troubleside';
  src: url('../fonts/Troubleside.ttf');
  font-weight: 900;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /*Указываем, как блоки будут располагаться в flex контейнере. column- значит вертикально сверху вниз*/
  padding: 10px;
}
.hystory_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.main_container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.h1_history{
  position: relative;
  text-align: center;
  font-family: 'Troubleside';
  font-size: 7vw;
  color: #46747C;
  z-index: 2;
  padding: 0 15px;
  margin: 0 auto;
}
@media(max-width: 1200px){
  .h1_history{
    font-size: 10vw;
  }
}
@media(max-width: 700px){
  .h1_history{
    font-size: 16vw;
  }
}
.history_img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.info_block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.half_container{
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
}
.img{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.container{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;
}
.timer_container{
  width: 100%;
  margin-top: 20%;
}
.timer_table{
  width: 100%;
  border-spacing: 20px 0;
  text-align: center;
}
td{
  width: 20%;
}
.num td{
  font-size: 5vw;
  background-color: #F0D8D5;
  color: #323347;
  border-style: solid #F0D8D5;
  border-radius: 10px;
}
.info{
  font-size: 2vw;
  height: 100px;
}
.text_description{
  font-family: 'Amavickfont';
  font-size: 3vw;
  margin: 0;
}
.small_text{
font-family: 'Amavickfont';
font-size: 30px;
}
@media(max-width: 1000px) {
  .info{
    font-size: 3vw;
    height: 8vh;
  }
}
@media(max-width: 800px) {
  .timer_table{
    border-spacing: 5px 0;
  }
  .num td{
    border-radius: 5px;
  }
}
@media(max-width: 500px) {
  .info_block {
    flex-direction: column;
  }

  #info_block_message{
    flex-direction: column-reverse;
  }
  #info_block_kiss{
    flex-direction: column-reverse;
  }
  .container{
    width: 100%;
    height: 70%;
  }
  .half_container{
    width: 100%;
    height: 30%;
  }
  .num td{
    font-size: 10vw;
    height: 80px;
  }
  .info{
    font-size: 5vw;
    height: 8vh;
  }
  .text_description{
    font-size: 20px;
  }
  .img{
    width: 70%;
    left: 5px;
  }
}
p{
  text-align: center;
}
#img_kiss{
  height: 60%;
  width: 50%;
  bottom: 5%;
  left: -4vw;
}
@media(max-width: 1350px) {
  #img_kiss{
    left: -2vw;
  }
}
@media(max-width: 1100px) {
  #img_kiss{
    left: -1vw;
  }
}
@media(max-width: 1000px) {
  #img_kiss{
    left: 2.2vw;
  }
}
@media(max-width: 500px) {
  #img_kiss{
    height: 100%;;
    position: relative;
    left: -30px;
  }
}