
@font-face {
  font-family: 'Troubleside';
  src: url('../fonts/Troubleside.ttf');
  font-weight: 900;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /*Указываем, как блоки будут располагаться в flex контейнере. column- значит вертикально сверху вниз*/
  padding: 10px;
}
.hystory_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.main_container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.h1_history{
  position: relative;
  text-align: center;
  font-family: 'Troubleside';
  font-size: 7vw;
  color: #46747C;
  z-index: 2;
  padding: 0 15px;
  margin: 0 auto;
}
.history_img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.info_block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.message_container{
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
}
.img{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.container{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;
}
.timer_container{
  width: 100%;
  margin-top: 20%;
}
.timer_table{
  width: 100%;
  border-spacing: 20px 0;
  text-align: center;
}
td{
  width: 20%;
}
.num td{
  font-size: 5vw;
  background-color: #F0D8D5;
  color: #323347;
  border-style: solid #F0D8D5;
  border-radius: 10px;
}
.info{
  font-size: 2vw;
  height: 100px;
}
.text_description{
  font-family: 'Amavickfont';
  font-size: 3vw;
  margin: 0;
}
.small_text{
font-family: 'Amavickfont';
font-size: 30px;
}